{{> head}}

{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>Son Goku</h1>
        <p>
            Son Gokū (孫 悟空?) es el protagonista del manga y anime Dragon Ball, creado por Akira Toriyama.

            Al comienzo de la historia, Gokū aparece como un niño artista marcial con cola de mono y fuerza sobrehumana, pero más adelante se revela que es un extraterrestre de la raza ficticia saiyajin, y que su nombre original es Kakarotto (カカロット?).

            Su nombre proviene de Sun Wukong, un personaje de la historia china Viaje al Oeste, y su nombre como saiyajin, Kakarotto, proviene de una deformación del inglés carrot (キャロット kyarotto?, «zanahoria»). 
        </p>
    </div>
     <div class="col-4">
        <img src="assets/img/Goku.png" class="img-thumbnail">
    </div>
</div>

{{> footer}}